alias c='clear'

alias bonsai='bonsai.sh'


# Git aliases
alias gs='git status'
alias gaa='git add .'
alias gcm='git commit -m'
alias gp='git push'

alias tb='taskbook'

alias pu='vendor/phpunit/phpunit/phpunit'


alias dual="xrandr --output HDMI1 --auto --above eDP1"
