configuration {
    modi: "drun,combi,window,power:~/.config/rofi/scripts/power.sh";
    combi-modi: "window,drun";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "FiraCode Nerd Font 11";
    drun-display-format: "{name}";
    display-drun: "󰣖 Apps";
    display-combi: "󰍉 Search";
    display-window: "󱂬 Windows";
    display-power: "󰐥 Power";
    combi-hide-mode-prefix: false;
}

@theme "style"
