configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "JetBrains Mono Medium 11";
    drun-display-format: "{name}";
    display-drun: " Apps";
    display-run: " Run";
    display-window: " Windows";
}

@theme "style"
